.container {
  background-color: #6d67d0;
  border-radius: 10px;
  padding: 40px;
  width: 578px;
  height: 212px;
}

.card_wrap {
  background-color: #6d67d0;
  display: flex;
  gap: 12px;

  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.cards {
  color: #dad8f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  height: 132px;
  width: 90px;
  background-color: #6d67d0;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.highestOrLower {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
