* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8e87fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url("https://cdn.discordapp.com/attachments/951079489415315486/1083501575365988352/Background_1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.App {
  width: 100vw;
  height: 100vh;
}

.parent {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(2, 2fr);
  grid-column-gap: 2rem;
  grid-row-gap: 1.3rem;
}
.div1 {
  grid-area: 1 / 1 / 3 / 3;
}
.div2 {
  grid-area: 1 / 3 / 2 / 4;
}
.div3 {
  grid-area: 1 / 4 / 2 / 5;
}
.div4 {
  grid-area: 2 / 3 / 3 / 5;
}
